absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
datasets
dill
faiss-cpu
fastapi
ffmpy
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
gradio
gradio_client
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
multidict
multiprocess
namex
narwhals
networkx
opencv-python
opt_einsum
optree
orjson
packaging
pefile
pillow
pyarrow
pydantic
pydantic_core
pydeck
pydub
Pygments
pyinstall
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
python-docx
python-multipart
pytz
pywin32-ctypes
PyYAML
referencing
regex
rich
rpds-py
ruff
safetensors
seaborn
semantic-version
shellingham
six
smmap
sniffio
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow-intel
termcolor
tokenizers
toml
tomlkit
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
Werkzeug
wrapt
XlsxWriter
xxhash
yarl
protobuf
starlette
requests
numpy
pandas
grpcio
tensorflow-io-gcs-filesystem
